<ion-content fixed ion-fixed no-bounce>
    <ion-grid>
        <ion-row>
            <ion-col text-center id="imageNode">
                <img class="image" *ngIf="image" [src]="image.imageData"/>
                <ion-grid id="stickers">
                    <ion-row>
                        <ion-col>
                                <img
                                ngDraggable
                                class="sticker"
                                src="../assets/imgs/smile.png"/>
                        </ion-col>
                        <ion-col>
                                <img
                                ngDraggable
                                class="sticker"
                                src="../assets/imgs/sad.png"/>
                        </ion-col>
                        <ion-col>
                                <img
                                ngDraggable
                                class="sticker"
                                src="../assets/imgs/teeth.png"/>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <button
                ion-button
                full
                block
                padding
                small
                color="danger"
                (click)="cancel()">Cancel</button>
            </ion-col>
            <ion-col>
                <button
                ion-button
                full
                block
                padding
                small
                color="secondary"
                (click)="save()">Save</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
