<ion-header>
  <ion-navbar>
    <ion-title>
      Image Overlay Demo
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <button
    ion-button
    block
    full
    padding
    (click)="openCamera()">
    Take a photo
  </button>
</ion-content>
