<ion-content fixed ion-fixed no-bounce>
    <ion-grid>
        <ion-row>
            <ion-col text-center id="imageNode">
                <img class="image" [src]="imageData"/>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div
                padding
                (click)="facebook()">Facebook</div>
            </ion-col>
            <ion-col>
                <div
                padding
                (click)="instagram()">Instagram</div>
            </ion-col>
            <ion-col>
                <div
                padding
                (click)="more()">More</div>
            </ion-col>  
        </ion-row>
        <ion-row>
            <ion-col>
                <button
                ion-button
                small
                full
                block
                (click)="exit()">Exit</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
