<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col text-center>
                <img #image [src]="imageData"/>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
    <ion-row>
        <ion-col>
            <button
            ion-button
            full
            block
            padding
            small
            color="danger"
            (click)="cancel()">Cancel</button>
        </ion-col>
        <ion-col>
            <button
            ion-button
            full
            block
            padding
            small
            color="secondary"
            (click)="addSticker()">Add sticker</button>
        </ion-col>
    </ion-row>
</ion-footer>